@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700;800&display=swap');

/* Estilos para el header */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: #0D0C0C;
    height: 120px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
}

.logo a img{
    height: 80px;
}

.nav-links li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
}

.nav-links a {
    text-decoration: none;
    color: #ECB935;
    font-family: 'Merienda';
    font-size: 20px;
}

/* Estilos para el menú hamburguesa */

.menu-toggle{
    display: none;
}

.menu-btn{
    display: none;
}

.menu-icon {
    width: 25px;
    height: 3px;
    background-color: #ECB935;
    margin: 3px 0;
    transition: 0.4s;
}

/* Media query para la responsividad */
@media(max-width: 1000px) {

    header{
        padding: 0 50px;
    }

    .menu-btn {
        display: block;
    }

    nav{
        position: absolute;
        top: 120px;
        right: 0;
        background-color: #333;
        opacity: 0; /* Opacidad inicial en 0 */
        visibility: hidden; /* Oculta el elemento */
        transition: opacity 0.15s, visibility 0.15s
    }

    .nav-links{
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .nav-links li{
        margin: 0;
        padding: 20px 40px;
        text-align: center;
    }

    .menu-toggle:checked + .menu-btn .menu-icon:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 4px);
    }

    .menu-toggle:checked + .menu-btn .menu-icon:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle:checked + .menu-btn .menu-icon:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -3px);
    }

    .menu-toggle:checked + .menu-btn + nav{
        opacity: 1; 
        visibility: visible;
    }
}


