@import url("https://fonts.googleapis.com/css2?family=Public+Sans&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  display: grid;
  grid-template:
    "header"  4rem
    "main"    auto
    "footer"  4rem;
}

.header {
  grid-area: header;
  background-color: #0D0C0C;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  grid-area: main;
  background-color: #f5f5f5;
}

.footer {
  grid-area: footer;
  background-color: #8c96a0;
}

.logo{
  width: 94px;
  height: 51px;
}

.nav{
  opacity: 0;
  visibility: hidden; 
  display: flex; 
  flex-direction: column;
  align-items: end;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
  background-color: #0D0C0C;
}

.nav-list{
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: end; 
  padding: 1rem;
}

.enlace-opcion{
  padding: 0.5rem;
}

.link-opcion{
  text-decoration: none;
  color: #ECB935;
}

.abrir-menu{
  display: block;
  background-color: #0D0C0C;
  box-shadow: none;
}

.cerrar-menu{
  display: none;
  margin: 1rem;
}

/* @media (min-width: 600px) {
  .grid-container {
    grid-template:
      "header" 100px
      "main"   auto
      "footer" 100px
  }
}

@media (min-width: 900px) {
  .grid-container {
    grid-template:
      "header"  100px
      "main" auto
      "footer"  100px 
  }
} */
