@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&family=Merienda:wght@300;400;700;800&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  
}

body{
  
  min-height: 100%;
  display: grid;
  grid-template: 
  'header' 7.5rem
  'main' auto
  'footer' 7.5rem;
}

.logo{
  height: 5rem;
} 

ul{
  list-style: none;
}

.link-opcion{
  text-decoration: none;
  color: #e9be50e4;
  font-family: 'Merienda', cursive;
  font-size: 1.25rem;
}

a:hover{
  font-size: 1.3rem;
}

/* -----------------HEADER----------------- */

header{
  grid-area: header;
  background-color: #0D0C0C;
}

.navbar{
  width: 100%;
  height: 7.5rem;
  padding: 0 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  gap: 3rem;
}

.toggle_btn{
  color: #ECB935;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Dropdown menu */
.dropdown_menu{
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 7.5rem;
  height: 0;
  width: 18.75rem;
  background-color: rgb(53, 52, 52);
  overflow: hidden;
  transition: height 0.2s 
}

.dropdown_menu.open{
  height: 13.75rem;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------MAIN - INDEX----------------- */
main{
  grid-area: main;
  background-color: rgb(25, 25, 25);
  width: 100%;
}

.principal-container{
  width: auto;
  height: 448px; 
  margin: 50px 100px;
  overflow: hidden;
  position: relative;
}

.main-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-principal-container{
  width: 330px;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.titulo-img-principal{
  font-family: 'Merienda';
  color: #ECB935;
  text-align: center;
  font-size: 40px;
}

.parrafo-img-main{
  font-family: 'Livvic';
  color: antiquewhite;
  text-align: justify;
  font-size: 20px;
} 

.carousel-container{
  margin: 0 auto;
  padding: 0 50px;
  min-width: 300px;
  max-width: 1000px;
}


.agend-container{
  margin: 50px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-agenda{
  font-family: Merienda;
  margin-right: 50px;
  font-size: 20px;
  color: #D9D9D9;
}

.btn-agendar{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 20px;
  background-color: #ECB935;
}

/* -----------------MAIN - CONOCEME----------------- */

.main-conoceme{
  padding: 50px 100px;
}

.box1-conoceme{
  display: flex;
  margin-bottom: 50px;
  color: #D9D9D9;
  height: auto;
  gap: 20px;
}

.box1-texto-conoceme{
  flex: 1;
}

.box1-texto-conoceme h2{
  font-family: 'Merienda';
  font-weight: bold;
  color: #ECB935;
  font-size: 40px;
}

.box1-texto-conoceme p{
  margin-top: 25px;
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 20px;
}

.box1-imagen-conoceme{
  flex: 1;
  display: flex;
  justify-content: center;
}

.box1-imagen-conoceme img{
  width: 100%;
}

.box1-ideas-conoceme{
  flex: 1;
  text-align: center;
}

.box1-ideas-conoceme h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin-bottom: 40px;
}

.box1-idea-imagenes{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}

.box1-idea-imagenes img{
  max-width: 32%;
  min-width: 115px;
  margin-bottom: 10px;
} 

.box2-trabajos-agenda h2{
  color: #ECB935;
  font-family: 'Merienda';
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.box2-trabajos-imagenes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.box2-trabajos-imagenes img{
  width: 100%;
  object-fit: cover;
}

.box2-agendar{
  margin-top: 50px;
  text-align: right;
}

.box2-btn-agendar{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 20px;
  background-color: #ECB935;
}

/* -----------------MAIN - PROMOCIONES ----------------- */

.main-promociones{
  padding: 50px 100px;
}

.box1-promociones{
  display: flex;
  margin-bottom: 50px;
  color: #D9D9D9;
  height: 470px;
  gap: 20px;
}

.box1-texto-promociones{
  flex: 1;
}

.box1-texto-promociones h2{
  font-family: 'Merienda';
  font-weight: bold;
  color: #ECB935;
  font-size: 40px;
}

.box1-texto-promociones p, .box1-ideas-promociones p{
  margin-top: 25px;
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 20px;
}

.box1-imagen-promociones{
  flex: 1;
  display: flex;
  justify-content: center;
}

.box1-ideas-promociones{
  flex: 1;
}

.box1-ideas-promociones h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin-bottom: 40px;
}

.box2-promociones-agenda{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.promocion{
  flex: 1;
}
.promocion img{
  width: 100%;
}

.promocion h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin: 19px 0 16px 0;
}

.promocion p{
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 25px;
}

/* -----------------MAIN COTIZA--------------------- */

.box1-descrip-form, .box2-informacion{
  color: #D9D9D9;
}

.main-cotiza{
  padding: 50px 100px;
  display: flex;
  gap: 40px;
}

.box1-descrip-form h2{
  color: #ECB935;
  font-family: 'Merienda';
  font-size: 40px;
  margin-bottom: 25px;
}

.box1-descrip-form{
  flex: 1;
}

.box1-descrip-form p{
  font-family: 'Livvic';
  font-size: 20px;
}

.box1-descrip-form *{
  font-family: 'Livvic';
  font-size: 16px;
}

form div{
  padding: 2px;
}

.etiqueta-form{
  margin: 25px 0;
  font-family: 'Merienda'
}

.primeros-items{
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.segundos-items{
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.textarea-cotiza{
  display: grid;
}

.textarea-cotiza textarea{
  width: 380px;
  resize: none;
}

.item-form-radiob > :first-child{
  margin-right: 10px;
}

.campo-requerido{
  font-weight: 400;
  margin: 30px 0;
}

.button-cotiza input{
  border-radius: 20px;
  padding: 8px 16px;
}

.box2-informacion{
  flex: 1;
  align-self: center;
  font-family: 'Livvic';
}

.box2-informacion h3{
  font-family: 'Merienda';
  color: #ecb935;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

/* -----------------MAIN CONTACTO--------------------- */

.box1-descrip-form, .box2-informacion{
  color: #D9D9D9;
}

.main-contacto{
  padding: 90px 100px;
  display: flex;
  gap: 40px;
}

.main-contacto > :first-child{
  flex: 1;
}

.main-contacto > :nth-child(2){
  flex: 1;
  height: 100%;
  color: #ECB935;
  font-family: 'Merienda';
  font-size: 24px;
  font-weight: 700;
}

.main-contacto > :nth-child(2) > h3{
  color: #ECB935;
  font-family: 'Merienda';
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.ubicacion{
  width: 100%;
  height: calc(100% - 120px);
}

.ubicacion > iframe{
  width: 100%;
  height: 100%;
}
/* -----------------MAIN CURSOS---------------- */

.introduccion{
  text-decoration: none;
  color: #e9be50e4;
  font-size: 2rem;
  font-family: 'Merienda', cursive;
  padding: 2%;
  text-align: justify;
}

.cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
  padding: 2%;
}

.curso {
  position: relative;
}

.imgcursos {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 1.5rem;
  filter: grayscale(100%);
}

.textoCursos {
  background-color: rgba(240, 240, 240, 0.363);
  border-radius: 1rem;
  font-size: 2rem;
  font-family: 'Merienda', cursive;
  font-weight:900;
  z-index: 1;
  position: absolute;
  top: 0.5 rem;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.info{
  color: rgb(0, 0, 0);
  background-color: rgba(240, 240, 240, 0.712);
  border-radius: 1rem;
  position: absolute;
  font-family: Livvic;
  z-index: 1;
  padding: 1rem;
  bottom: 25%;
  display: none;
}

.info > a{
  text-decoration: none;
  font-weight: bold;
  color: #ff7300;
  display: block;
  text-align: right;
}

.curso:hover .imgcursos {
  filter: grayscale(0%);
  transition: filter 0.5s;
}

.curso:hover .textoCursos {
  opacity: 1;
}

.botoncurso {
  background-color: #1a0079; 
  color: #000000; 
  padding: 10px 20px; 
  margin-top: 10px;
  border: none; 
  border-radius: 0.5rem; 
  cursor: pointer; 
  font-size: 1rem; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: background-color 0.3s, color 0.3s;
  align-items: end;
  opacity: 0;
}
.curso:hover .botoncurso {
  background-color: #ffc400;
  opacity: 1;
  transition-duration: 0.5ms;
}
/* -----------------FOOTER----------------- */
footer{
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  background-color: #0D0C0C;
  padding: 20px;
  text-align: center;
  justify-content:space-between;
  align-items: center;
}
.footer-logo {
  width: 100px;
  justify-content: center;
  align-items: center;
  height: 50%;
}

.footer-nav ul{
  list-style: none;
  padding: 0;
  text-align: center;
}

.footer-nav li{
  display: inline;
  margin: 0 1rem;
}

.footer-nav a{
  text-decoration: none;
  color: rgba(217, 217, 217, 0.40);
  font-family: Livvic;
  font-size: 1rem;
  font-style:normal;
  font-weight: bold;
  line-height: normal;
}
.footer-nav a:hover {
  font-size: 1.3rem;
  transition: ease 0.2s;
  color: #ECB935;
}

.footer-redes{
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 10px;
  justify-content: flex-end;
  height: 50%;
}

.footer-redes img:hover{
  width: 110%;
  transition: ease 0.2s;
  filter: brightness(70%);
}

.copyright-footer {
  grid-column: 2;
  color: #D9D9D9;
}

/* -------------------------------RESPONSIVE------------------------------- */

@media(max-width: 1000px){
  /* -----------------HEADER----------------- */
  .nav-list, .action_btn{
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu{
    display: block; 
  }
  /* -----------------MAIN----------------- */

  /* --------------------INDEX---------------------- */
  /* --------------------CURSOS---------------------- */
  .textoCursos{
    font-size: 1rem;
  }
  .introduccion{
    padding: 2%;
    margin: 2%;
    font-size:  1rem;
  }
  .cursos{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
  }
  .imgcursos{
    width: 20rem; 
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textoCursos{
    font-size: 1rem;
    text-align: left;
  }

  .botoncurso{
    font-size: 0.8rem;
  }

  /* -----------------FOOTER----------------- */

}




@media(max-width: 600px){
.body{
    min-height: 100%;
    display: grid;
    grid-template: 
    'header' 11.25rem
    'main' auto
    'footer' 7.5rem;
  }
  /* -----------------HEADER----------------- */
  .navbar{
    display: block;
    padding: 0;
  }

  .logo-contenedor, .toggle_btn{
    text-align: center;
    padding: 1rem 0.63rem;

  }

  .dropdown_menu{
    top: 11.25rem;
    width: 100%;
  }

  .dropdown_menu li a{
    display: block;
  }

  .dropdown_menu li:hover a{
    font-size: 1.3rem;
  }
  /* -----------------MAIN----------------- */

    /* -----------------CURSOS----------------- */
  .introduccion{
    padding: 2%;
    margin: 2%;
    font-size:  1rem;
  }
  .cursos{
    display: flex;
    flex-direction: column;
    margin: 2%;
    padding: 2%;
    justify-content: space-between;
    align-items: center;
  }
  .imgcursos{
    width: 20rem; 
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textoCursos{
    font-size: 1rem;
    text-align: left;
  }

  .botoncurso{
    font-size: 0.8rem;
  }

  /* -----------------FOOTER----------------- */
  
  .footer{
    margin: 0;
    padding: 0;
  }
  .footer-logo{
    height: 60%;
  }
  .footer-nav {
    margin: 0;
    padding: 0;
  }
  
  .footer-nav li{
    display: block;
    justify-content: center;
    padding: 0;
  }

  .footer-redes{
    display: block;
    position: absolute;
    right: 0rem;
    height: auto;
    width: 2rem;
    
  }

  .copyright-footer{ 
    display: inline;
    position: relative;
    bottom: 1rem;
    font-size: 0.6rem;
  }


  .footer-nav a:hover {
    font-size: 1.2rem;
    transition: ease 0.2s;
    color: #ECB935;
  }
}
