@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  
}

body{
  
  min-height: 100%;
  display: grid;
  grid-template: 
  'header' 120px
  'main' auto
  'footer' 120px;
}

.logo{
  height: 80px;
} 

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #e9be50e4;
  font-size: 1rem;
  font-family: 'Merienda', cursive;
  font-size: 20px;
}

a:hover{
  font-size: 1.3rem;
}

/* -----------------HEADER----------------- */

header{
  grid-area: header;
  background-color: #0D0C0C;
}

.navbar{
  width: 100%;
  height: 120px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  gap: 3rem;
}

.toggle_btn{
  color: #ECB935;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.main {
  grid-area: main;
  background-color: #f5f5f5;
}

/* Dropdown menu */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 0;
  top: 120px;
  height: 0;
  width: 300px;
  background-color: rgb(53, 52, 52);
  overflow: hidden;
  transition: height 0.2s 
}

.dropdown_menu.open{
  height: 220px;
  z-index: 1000;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------MAIN----------------- */
main{
  grid-area: main;
  background-color: rgb(25, 25, 25);
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px
}

.main-principal{
  width: auto;
  height: 50rem;
  margin: 50px 100px;
}
.fotito{
  width: 100%;
  height: 100%;
}
 
.main-fotos4{
  margin: 0 170px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.main-fotos4 img{ 
  width: 24%;
}

.agend-container{
  margin: 50px 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-agenda{
  font-family: Merienda;
  margin-right: 50px;
  font-size: 20px;
  color: #D9D9D9;
}

.btn-agendar{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 20px;
  background-color: #ECB935;
}
/* -----------------CURSOS---------------- */

.introduccion{
  text-decoration: none;
  color: #e9be50e4;
  font-size: 1rem;
  font-family: 'Merienda', cursive;
  font-size: 18px;
  padding: 2%;
}

.cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin: 1%;
}

.curso {
  position: relative;
}

.imgcursos {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 1.5rem;
  filter: grayscale(100%);
}

.textoCursos {
  background-color: rgba(240, 240, 240, 0.363);
  border-radius: 1rem;
  font-size: 2rem;
  font-family: 'Merienda', cursive;
  font-weight:900;
  z-index: 1;
  position: absolute;
  top: 0.5 rem;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.curso:hover .imgcursos {
  filter: grayscale(0%);
  transition: filter 0.5s;
}

.curso:hover .textoCursos {
  opacity: 1;
}

.botoncurso {
  background-color: #ffc400; 
  color: #000000; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 0.5rem; 
  cursor: pointer; 
  font-size: 1rem; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: background-color 0.3s, color 0.3s;
  align-items: end;
  opacity: 0;
}
.curso:hover .botoncurso {
  background-color: #ffc400;
  opacity: 1;
  transition-duration: 0.5ms;
}
/* -----------------FOOTER----------------- */
.footer{
  grid-area: footer;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 1rem;
  background-color: #0D0C0C;
  padding: 20px;
  text-align: center;
  justify-content:space-between;
  align-items: center;
}
.footer-logo {
  width: 100px;
  justify-content: center;
  align-items: center;
  height: 50%;
 
}

.footer-nav ul{
  list-style: none;
  padding: 0;
  text-align: center;
  
}

.footer-nav li{
  display: inline;
  margin: 0 1rem;
}

.footer-nav a{
  text-decoration: none;
  color: rgba(217, 217, 217, 0.40);
  font-family: Livvic;
  font-size: 1rem;
  font-style:normal;
  font-weight: bold;
  line-height: normal;
}
.footer-nav a:hover {
  font-size: 1.3rem;
  transition: ease 0.2s;
}

.footer-redes{
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 10px;
  justify-content: flex-end;
  height: 50%;
}

.footer-redes img:hover{
  width: 110%;
  transition: ease 0.2s;
}

.copyright-footer {
  grid-column: 2;
  color: #D9D9D9;
}

/* -----------------RESPONSIVE----------------- */
@media(max-width: 1000px){
  /* -----------------HEADER----------------- */
  .nav-list, .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }
  /* -----------------MAIN----------------- */

  /* -----------------FOOTER----------------- */

}




@media(max-width: 600px){
.body{
    min-height: 100%;
    display: grid;
    grid-template: 
    'header' 180px
    'main' auto
    'footer' 120px;
  }
  /* -----------------HEADER----------------- */
  .navbar{
    display: block;
    padding: 0;
  }

  .logo-contenedor, .toggle_btn{
    text-align: center;
    padding: 15px 10px;
  }

  .dropdown_menu{
    top: 180px;
    width: 100%;
  }

  .dropdown_menu li a{
    display: block;
  }

  .dropdown_menu li:hover a{
    font-size: 1.3rem;
  }


  /* -----------------MAIN----------------- */

    /* -----------------CURSOS----------------- */
  .textoCursos{
    font-size: 1rem;
  }
  .botoncurso{
    font-size: 0.8rem;
  }

  /* -----------------FOOTER----------------- */
  
  .footer{
    margin: 0;
    padding: 0;
  }
  .footer-logo{
    height: 60%;
  }
  .footer-nav {
    margin: 0;
    padding: 0;
  }
  
  .footer-nav li{
    display: block;
    justify-content: center;
    padding: 0.1rem;
  }

  .footer-redes{
    display: block;
    position: absolute ;
    right: 0;
    height: auto;
    width: 2rem;
    margin: 1rem;
  }

  .copyright-footer{ 
    display: block;
    font-size: small;
    position: absolute;
    bottom: 0.5rem;
  }
  .footer-nav a:hover {
    font-size: 1.2rem;
    transition: ease 0.2s;
  }

}
