@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&family=Merienda:wght@300;400;700;800&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body{
  min-height: 100%;
  display: grid;
  grid-template: 
  'header' 7.5rem
  'main' auto
  'footer' 7.5rem;
}

.logo{
  height: 5rem;
} 

ul{
  list-style: none;
}

.link-opcion{
  text-decoration: none;
  color: #e9be50e4;
  font-family: 'Merienda', cursive;
  font-size: 1.25rem;
}

a:hover{
  font-size: 1.3rem;
}

/* -----------------HEADER----------------- */

header{
  grid-area: header;
  background-color: #0D0C0C;
}

.navbar{
  width: 100%;
  height: 7.5rem;
  padding: 0 6.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  gap: 3rem;
}

.toggle_btn{
  color: #ECB935;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}

/* Dropdown menu */
.dropdown_menu{
  display: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 7.5rem;
  height: 0;
  width: 18.75rem;
  background-color: rgb(53, 52, 52);
  overflow: hidden;
  transition: height 0.2s 
}

.dropdown_menu.open{
  height: 13.75rem;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------MAIN - INDEX----------------- */
main{
  grid-area: main;
  background-color: rgb(25, 25, 25);
  width: 100%;
}

.principal-container{
  width: auto;
  height: 448px; 
  margin: 50px 100px;
  overflow: hidden;
  position: relative;
}

.main-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.texto-principal-container{
  width: 330px;
  position: absolute;
  top: 45px;
  left: 50%;
  transform: translate(-50%, 0%);
}

.titulo-img-principal{
  font-family: 'Merienda';
  color: #ECB935;
  text-align: center;
  font-size: 40px;
}

.parrafo-img-main{
  font-family: 'Livvic';
  color: antiquewhite;
  text-align: justify;
  font-size: 20px;
} 

.carousel-container{
  margin: 0 auto;
  padding: 0 50px;
  min-width: 300px;
  max-width: 1000px;
}

.agend-container{
  margin: 50px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-agenda{
  font-family: Merienda;
  margin-right: 50px;
  font-size: 20px;
  color: #D9D9D9;
}

.btn-agendar{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 20px;
  background-color: #ECB935;
}

/* -----------------MAIN - CONOCEME----------------- */

.main-conoceme{
  padding: 50px 100px;
}

.box1-conoceme{
  display: flex;
  margin-bottom: 50px;
  color: #D9D9D9;
  height: auto;
  gap: 20px;
}

.box1-texto-conoceme{
  flex: 1;
}

.box1-texto-conoceme h2{
  font-family: 'Merienda';
  font-weight: bold;
  color: #ECB935;
  font-size: 40px;
}

.box1-texto-conoceme p{
  margin-top: 25px;
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 20px;
}

.box1-imagen-conoceme{
  flex: 1;
  display: flex;
  justify-content: center;
}

.box1-imagen-conoceme img{
  width: 100%;
}

.box1-ideas-conoceme{
  flex: 1;
  text-align: center;
}

.box1-ideas-conoceme h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin-bottom: 40px;
}

.box1-idea-imagenes{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
  
}

.box1-idea-imagenes img{
  max-width: 32%;
  min-width: 115px;
  margin-bottom: 10px;
} 

.box2-trabajos-agenda h2{
  color: #ECB935;
  font-family: 'Merienda';
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.box2-trabajos-imagenes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.box2-trabajos-imagenes img{
  width: 100%;
  object-fit: cover;
}

.box2-agendar{
  margin-top: 50px;
  text-align: right;
}

.box2-btn-agendar{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 20px;
  background-color: #ECB935;
}

/* -----------------MAIN - PROMOCIONES ----------------- */

.main-promociones{
  padding: 50px 100px;
}

.box1-promociones{
  display: flex;
  margin-bottom: 50px;
  color: #D9D9D9;
  height: 470px;
  gap: 20px;
}

.box1-texto-promociones{
  flex: 1;
}

.box1-texto-promociones h2{
  font-family: 'Merienda';
  font-weight: bold;
  color: #ECB935;
  font-size: 40px;
}

.box1-texto-promociones p, .box1-ideas-promociones p{
  margin-top: 25px;
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 20px;
}

.box1-imagen-promociones{
  flex: 1;
  display: flex;
  justify-content: center;
}

.box1-ideas-promociones{
  flex: 1;
}

.box1-ideas-promociones h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin-bottom: 40px;
}

.box2-promociones-agenda{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 100px;
}

.promocion{
  flex: 1;
}
.promocion img{
  width: 100%;
}

.promocion h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin: 19px 0 16px 0;
}

.promocion p{
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 25px;
}

/* -----------------FOOTER----------------- */
footer{
  grid-area: footer;
  background-color: #0D0C0C;
  display: flex;
  padding: 0 6.25rem;
  align-items: center;
}

.logo-footer{
  flex: 1;
}

.logo-footer-mobile{
  display: none;
}

.cont-footer{
  flex: 1;
  color: #D9D9D966;
  font-family: 'Livvic', sans-serif;
}

.lista-footer{
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.link-footer{
  text-decoration: none;
  color: #D9D9D966; 
}

.parrafo-footer{
  text-align: center;
}

.link-footer{
  font-size: 1.15rem;
}

.icons-rrss{
  flex: 1;
}

.list-incos{
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.fa-brands{
  color: #ECB935;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 3.15rem;
  font-size: 1.55rem;
}

.fa-brands:hover{
  font-size: 2rem;
}

/* -------------------------------RESPONSIVE------------------------------- */

@media(max-width: 1000px){
  /* -----------------HEADER----------------- */
  .nav-list, .action_btn{
    display: none;
  }

  .navbar .toggle_btn {
    display: block;
  }

  .dropdown_menu{
    display: block; 
  }
  /* -----------------MAIN----------------- */

  /* --------------------INDEX---------------------- */


  /* -----------------FOOTER----------------- */

  footer{
    padding: 0 1rem;
  }

  .logo-footer-mobile{
    display: block;
    flex: 1;
  }

  .logo-footer{
    display: none;
  }

  .cont-footer{
    flex: 1;
  }

  .parrafo-footer{
    font-size: 14px;
    margin: 0;
  }

  .lista-footer{
    display: none;
  }

  .icons-rrss{
    flex: 1;
  }

  .list-incos{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .fa-brands{
    font-size: 1rem;
  }

}

@media(max-width: 480px){

  body{  
    min-height: 100%;
    display: grid;
    grid-template: 
    'header' 11.25rem
    'main' auto
    'footer' 7.5rem;
  }
  /* -----------------HEADER----------------- */
  .navbar{
    display: block;
    padding: 0;
  }

  .logo-contenedor, .toggle_btn{
    text-align: center;
    padding: 1rem 0.63rem;

  }

  .dropdown_menu{
    top: 11.25rem;
    width: 100%;
  }

  .dropdown_menu li a{
    display: block;
  }

  .dropdown_menu li:hover a{
    font-size: 1.3rem;
  }
  /* -----------------MAIN----------------- */



  /* -----------------FOOTER----------------- */

  .fa-brands{
    font-size: 1rem;
  }
}
