@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body{
  min-height: 100%;
  display: grid;
  grid-template: 
  'header' 120px
  'main' auto
  'footer' 120px;
}

.logo{
  height: 80px;
} 

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #e9be50e4;
  font-size: 1rem;
  font-family: 'Merienda', cursive;
  font-size: 20px;
}

a:hover{
  font-size: 1.3rem;
}

/* -----------------HEADER----------------- */

header{
  grid-area: header;
  background-color: #0D0C0C;
}

.navbar{
  width: 100%;
  height: 120px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  gap: 3rem;
}

.toggle_btn{
  color: #ECB935;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.main {
  grid-area: main;
  background-color: #f5f5f5;
}

/* Dropdown menu */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 0;
  top: 120px;
  height: 0;
  width: 300px;
  background-color: rgb(53, 52, 52);
  overflow: hidden;
  transition: height 0.2s 
}

.dropdown_menu.open{
  height: 220px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------MAIN----------------- */
main{
  grid-area: main;
  background-color: rgb(25, 25, 25);
  font-family: sans-serif;
  font-size: 20px;
  padding: 10px
}

.main-principal{
  width: auto;
  height: 50rem;
  margin: 50px 100px;
}
.fotito{
  width: 100%;
  height: 100%;
}
 
.main-fotos4{
  margin: 0 170px;
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.main-fotos4 img{ 
  width: 24%;
}
.agend-container{
  margin: 50px 320px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-agenda{
  font-family: Merienda;
  margin-right: 50px;
  font-size: 20px;
  color: #D9D9D9;
}

.btn-agendar{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 20px;
  background-color: #ECB935;
}

/* -----------------FOOTER----------------- */
.footer{
  grid-area: footer;
  display: flex;
  background-color: #0D0C0C;
  width: 100%;
  justify-content:space-between;
  align-items: center;
}

.footer-logo {
  flex: 1;
  position: absolute;
  left: 0;
  padding-left: 5%;
}

.footer-nav {
  flex: 1;
  display:flex;
  justify-content: center;
}

.footer-nav li{
  display: inline;
}

.link-footer {
  text-decoration: none;
  justify-content: space-around;
  padding: 1rem;
  color: white;
  color: rgba(217, 217, 217, 0.40);
  font-family: Livvic;
  font-size: 1rem;
  font-style:normal;
  font-weight: bold;
  line-height: normal;
}

.footer-redes{
  flex: 1;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 10px;
  position: absolute;
  right: 0;
  padding-right: 5%;
}

/* -----------------RESPONSIVE----------------- */
@media(max-width: 1000px){
  /* -----------------HEADER----------------- */
  .nav-list, .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }
  /* -----------------MAIN----------------- */

  /* -----------------FOOTER----------------- */
  .footer-logo {
    padding-left: 0;
  }

  .footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-nav li{
    display: block;
  }
  .copyright-footer {
    bottom: 0;
  }
  .footer-redes{
    width: 2rem;
    display: block;
    padding-right: 0;
  }
}


@media(max-width: 600px){
.body{
    min-height: 100%;
    display: grid;
    grid-template: 
    'header' 180px
    'main' auto
    'footer' 120px;
  }
  /* -----------------HEADER----------------- */
  .navbar{
    display: block;
    padding: 0;
  }

  .logo-contenedor, .toggle_btn{
    text-align: center;
    padding: 15px 10px;
  }

  .dropdown_menu{
    top: 180px;
    width: 100%;
  }

  .dropdown_menu li a{
    display: block;
  }

  .dropdown_menu li:hover a{
    font-size: 1.3rem;
  }


  /* -----------------MAIN----------------- */

  /* -----------------FOOTER----------------- */
 

  .footer-nav li{
    display: block;
    bottom: 1rem;
  }

  .footer-redes{
    width: 2rem;
    display: block;
    padding-right: 0;
  }
}
