@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body{
  min-height: 100%;
  display: grid;
  grid-template: 
  'header' 120px
  'main' auto
  'footer' 120px;
}

.logo{
  height: 80px;
} 

li{
  list-style: none;
}

a{
  text-decoration: none;
  color: #e9be50e4;
  font-size: 1rem;
  font-family: 'Merienda', cursive;
  font-size: 20px;
}

a:hover{
  font-size: 1.3rem;
}

/* -----------------HEADER----------------- */

header{
  grid-area: header;
  background-color: #0D0C0C;
}

.navbar{
  width: 100%;
  height: 120px;
  padding: 0 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list{
  display: flex;
  gap: 3rem;
}

.toggle_btn{
  color: #ECB935;
  font-size: 1.5rem;
  cursor: pointer;
  display: none;
}
.main {
  grid-area: main;
  background-color: #f5f5f5;
}

/* Dropdown menu */
.dropdown_menu{
  display: none;
  position: absolute;
  right: 0;
  top: 120px;
  height: 0;
  width: 300px;
  background-color: rgb(53, 52, 52);
  overflow: hidden;
  transition: height 0.2s 
}

.dropdown_menu.open{
  height: 220px;
}

.dropdown_menu li{
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -----------------MAIN----------------- */
main{
  grid-area: main;
  background-color: aqua;
}

/* -----------------FOOTER----------------- */
footer{
  grid-area: footer;
  background-color: #0d0c0c5b;
}

/* -----------------RESPONSIVE----------------- */
@media(max-width: 1000px){
  /* -----------------HEADER----------------- */
  .nav-list, .action_btn{
    display: none;
  }

  .navbar .toggle_btn{
    display: block;
  }

  .dropdown_menu{
    display: block;
  }
  /* -----------------MAIN----------------- */

  /* -----------------FOOTER----------------- */

}

.footer {
  grid-area: footer;
  display: flex;
  background-color: #0D0C0C;
  width: 100%;
  justify-content:space-between;
  align-items: center;
}

.footer-logo {
  flex: 1;
}

.footer-nav li{
  flex: 1;
  display: inline;
  justify-content: center;
  margin: 0 20px;
  text-decoration: none;
  color: white;
  color: rgba(217, 217, 217, 0.40);
  font-family: Livvic;
  font-size: 14px;
  font-style:normal;
  font-weight: bold;
  line-height: normal;
}

.footer-redes{
  flex: 1;
  display: grid;
  grid-template-columns: 40px 40px 40px;
  gap: 10px;
  position: absolute;
  right: 0px;
}

.link-footer {
  text-decoration: none;
  color: white;
  color: rgba(217, 217, 217, 0.40);
  font-family: Livvic;
  font-size: 14px;
  font-style:normal;
  font-weight: bold;
  line-height: normal;
}

.copyright-footer {
  text-align: center;
  position: absolute;
  left: 50%;
  margin-top: 3rem; 
  color: #ccc; 
  color: rgba(217, 217, 217, 0.40);
  font-family: Livvic;
  font-size: 14px;  
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

@media(max-width: 600px){

  body{
    min-height: 100%;
    display: grid;
    grid-template: 
    'header' 180px
    'main' auto
    'footer' 120px;
  }
  /* -----------------HEADER----------------- */
  .navbar{
    display: block;
    padding: 0;
  }

  .logo-contenedor, .toggle_btn{
    text-align: center;
    padding: 15px 10px;

  }

  .dropdown_menu{
    top: 180px;
    width: 100%;
  }

  .dropdown_menu li a{
    display: block;
  }

  .dropdown_menu li:hover a{
    font-size: 1.3rem;
  }
  /* -----------------MAIN----------------- */

  /* -----------------FOOTER----------------- */

  
}
