<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sirios Tattoo - Conoceme</title>
    <link rel="shortcut icon" href="../images/icons/logo-footer.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header class="header" id="header">
    </header>
    <main class="main main-conoceme">
        <section class="box1-conoceme">
            <div class="box1-texto-conoceme">
                <h2>¡Hola! Soy Gustavosirios</h2>
                <p>¡Hola! Soy Gustavo Sirios, un tatuador apasionado con un enfoque único para el arte en la piel. Cada tatuaje que diseño cuenta una historia, un mensaje o una emoción. Mi objetivo es transformar tus ideas en tatuajes significativos y personales. En mi estudio, encontrarás un ambiente seguro y acogedor, donde la creatividad se combina con la higiene y la esterilización de primer nivel. Estoy comprometido en colaborar estrechamente contigo para crear una obra maestra tatuada que refleje tu individualidad.
                <br><br>
                Cuando no estoy tatuando, continúo explorando nuevas técnicas y estilos para mantenerme actualizado con las tendencias del arte del tatuaje. La creatividad no tiene límites, y mi pasión es ayudarte a plasmar tus ideas en la piel de la manera más auténtica posible. ¡Estoy emocionado por la posibilidad de trabajar contigo en tu próximo tatuaje! ¡Bienvenido a mi mundo tatuado!</p>
            </div>
            <div class="box1-imagen-conoceme">
                <img src="../images/tatuador.png" alt="Sin Descripcion">
            </div>
            <div class="box1-ideas-conoceme">
                <h2>¿No sabes qué tatuarte? Te doy algunas ideas</h2>
                <div class="box1-idea-imagenes">
                    <img src="../images/ideas/idea1.jpg" alt="">
                    <img src="../images/ideas/idea2.jpg" alt="">
                    <img src="../images/ideas/idea3.jpg" alt="">
                    <img src="../images/ideas/idea4.jpg" alt="">
                    <img src="../images/ideas/idea5.jpg" alt="">
                    <img src="../images/ideas/idea6.jpg" alt="">
                </div>
            </div>
        </section>
        <section class="box2-trabajos-agenda">
            <h2>Mira mis trabajos</h2>
            <div class="box2-trabajos-imagenes">
                <img src="../images/trabajos/t1.jpg" alt="">
                <img src="../images/trabajos/t2.jpg" alt="">
                <img src="../images/trabajos/t3.jpg" alt="">
                <img src="../images/trabajos/t4.jpg" alt="">
                <img src="../images/trabajos/t5.jpg" alt="">
                <img src="../images/trabajos/t6.jpg" alt="">
                <img src="../images/trabajos/t7.jpg" alt="">
                <img src="../images/trabajos/t8.jpg" alt="">
            </div>
            <div class="box2-agendar">
                <a class="box2-btn-agendar" href="./cotiza.html">Agenda</a>
            </div>
        </section>
    </main>

    <footer class="footer" id="footer">
    </footer>

    <script src="../libs/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/footer.js"></script>
</body>

</html>