<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cursos</title>
    <link rel="shortcut icon" href="../images/icons/logo-footer.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header class="header" id="header">
    </header>
    <main class="main">
        <p class="introduccion">En Sirios nos tomamos nuestro trabajo muy en serio, como así también al tattoo en sí
            mismo. Nos destacamos en formar profesionales del arte corporal.
            Cursos presenciales y a distancia.</p>
        <div class="cursos">
            <div class="curso">
                <p class="textoCursos">Higiene y Seguridad</p>
                <img class="imgcursos" src="../images/photos/higieneyseguridad.webp"
                    alt="Orientación en Higiene y Seguridad">
                <button class="botoncurso">Ver más</button>
            </div>
            <div class="curso">
                <p class="textoCursos">Tattoo estilo Tradicional</p>
                <img class="imgcursos" src="../images/photos/cursotradicional.jpg" alt="Curso Estilo Tradicional">
                <button class="botoncurso">Ver más</button>
            </div>
            <div class="curso">
                <p class="textoCursos">Tattoo estilo Realista</p>
                <img class="imgcursos" src="../images/photos/realismo.avif" alt="Curso Estilo Realista">
                <button class="botoncurso">Ver más</button>
            </div>
        </div>
    </main>
    <footer class="footer" id="footer">
    </footer>
    <script src="../libs/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/footer.js"></script>
</body>

</html>