<div class="footer-logo"><img class="logo2" src="../images/icons/logo.png" alt="Sirios Tattoo"></div>
<div class="footer-nav">
  <ul class="footer-list">
    <li class="enlace-footer"><a class="link-footer" href="./conoceme.html">Conóceme</a></li>
    <li class="enlace-footer"><a class="link-footer" href="./promociones.html">Promociones</a></li>
    <li class="enlace-footer"><a class="link-footer" href="./cursos.html">Cursos</a></li>
    <li class="enlace-footer"><a class="link-footer" href="./cotiza.html">Cotiza</a></li>
    <li class="enlace-footer"><a class="link-footer" href="./contacto.html">Contacto</a></li>
  </ul>
</div>
<div class="footer-redes">
  <a class="redes2" href="https://www.whatsapp.com"><img class="whatsapp" src="../images/assets/Whatsapp.svg"
      alt="Whatsapp"></a>
  <a class="redes2" href="https://www.instagram.com"><img class="instagram" src="../images/assets/Instagram.svg"
      alt="Instagram"> </a>
  <a class="redes2" href="https://www.tiktok.com"><img class="tiktok" src="../images/assets/Tiktok.svg" alt="Tiktok">
  </a>
</div>
<div class="copyright-footer">© 2023. Sirios Tattoo. Chile </div>