<div class="logo-footer">
  <a href="#"><img class="logo-foot" src="../images/icons/logo.png" alt=""></a>
  <a href="#"><img class="logo-mobile" src="../images/icons/logo-footer.svg" alt=""></a>
</div>
<div class="cont-footer">
  <ul class="lista-footer">
    <li class="item-footer"><a href="../templates/conoceme.html" class="link-footer">Conoceme</a></li>
    <li class="item-footer"><a href="../templates/promociones.html" class="link-footer">Promociones</a></li>
    <li class="item-footer"><a href="../templates/cursos.html" class="link-footer">Cursos</a></li>
    <li class="item-footer"><a href="../templates/cotiza.html" class="link-footer">Cotiza</a></li>
    <li class="item-footer"><a href="../templates/contacto.html" class="link-footer">Contacto</a></li>
  </ul>
  <p class="parrafo-footer">&copy 2023. Sirios Tattoo. Chile</p>
</div>
<div class="icons-rrss">
  <ul class="list-icons">
    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
  </ul>  
</div>