<!-- <div class="footer-logo"><img class="logo2" src="../images/icons/logo.png" alt="Sirios Tattoo"></div>
<div class="footer-nav">
  <ul class="footer-list">
    <li class="enlace-footer"><a class="link-footer" href="./conoceme.html">Conóceme</a></li>
    <li class="enlace-footer"><a class="link-footer" href="./promociones.html">Promociones</a></li>
    <li class="enlace-footer"><a class="link-footer" href="./cursos.html">Cursos</a></li>
    <li class="enlace-footer"><a class="link-footer" href="./cotiza.html">Cotiza</a></li>
    <li class="enlace-footer"><a class="link-footer" href="./contacto.html">Contacto</a></li>
  </ul>
</div>
<div class="footer-redes">
  <a class="redes2" href="https://www.whatsapp.com"><img class="whatsapp" src="../images/assets/Whatsapp.svg"
      alt="Whatsapp"></a>
  <a class="redes2" href="https://www.instagram.com"><img class="instagram" src="../images/assets/Instagram.svg"
      alt="Instagram"> </a>
  <a class="redes2" href="https://www.tiktok.com"><img class="tiktok" src="../images/assets/Tiktok.svg" alt="Tiktok">
  </a>
</div>
<div class="copyright-footer">© 2023. Sirios Tattoo. Chile </div> -->
<div class="logo-footer">
  <a href="link-logo"><img class="logo" src="./logo.png" alt=""></a>
</div>
<div class="logo-footer-mobile">
  <a href="link-logo"><img class="logo" src="./logo-footer.svg" alt=""></a>
</div>
<div class="cont-footer">
  <ul class="lista-footer">
    <li class="item-footer"><a href="#" class="link-footer">Conoceme</a></li>
    <li class="item-footer"><a href="#" class="link-footer">Promociones</a></li>
    <li class="item-footer"><a href="#" class="link-footer">Cotiza</a></li>
    <li class="item-footer"><a href="#" class="link-footer">Contacto</a></li>
  </ul>
  <p class="parrafo-footer">&copy 2023. Sirios Tattoo. Chile</p>
</div>
<div class="icons-rrss">
  <ul class="list-incos">
    <a href="#"><i class="fa-brands fa-whatsapp"></i></a>
    <a href="#"><i class="fa-brands fa-instagram"></i></a>
    <a href="#"><i class="fa-brands fa-tiktok"></i></a>
  </ul>  
</div>