<nav class="navbar">
  <div class="logo-contenedor"><a href="./index.html"><img class="logo" src="../images/icons/logo.png" alt=""></a></div>
  <ul class="nav-list">
    <li class="enlace-opcion"><a class="link-opcion" href="./conoceme.html">Conoceme</a></li>
    <li class="enlace-opcion"><a class="link-opcion" href="./promociones.html">Promociones</a></li>
    <li class="enlace-opcion"><a class="link-opcion" href="./cotiza.html">Cotiza</a></li>
    <li class="enlace-opcion"><a class="link-opcion" href="./contacto.html">Contacto</a></li>
  </ul>
  <div class="toggle_btn">
    <i class="fa-solid fa-bars"></i>
  </div>
</nav>

<ul class="dropdown_menu">
  <li class="enlace-opcion"><a class="link-opcion" href="./conoceme.html">Conoceme</a></li>
  <li class="enlace-opcion"><a class="link-opcion" href="./promociones.html">Promociones</a></li>
  <li class="enlace-opcion"><a class="link-opcion" href="./cotiza.html">Cotiza</a></li>
  <li class="enlace-opcion"><a class="link-opcion" href="./contacto.html">Contacto</a></li>
</ul>