<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sirios Tattoo - Inicio</title>
    <link rel="shortcut icon" href="../images/icons/logo-footer.svg" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/styles.css">
</head>

<body>
    <header class="header" id="header">
    </header>
    <main class="main">
        <div class="principal-container">
            <div class="texto-principal-container">
                <h2 class="titulo-img-principal">No esperes más por ese tatuaje</h2>
                <p class="parrafo-img-main">Transforma tu piel en un lienzo de arte con nosotros. Expresa tu individualidad con tatuajes únicos y profesionales. Descubre una experiencia única en el mundo del tatuaje. Nuestro talentoso equipo de artistas está listo para convertir tus ideas en tatuajes excepcionales. ¡No esperes más para comenzar tu viaje creativo y personal con nosotros!</p>
            </div>
        </div>
        <div class="carousel-container">
            <div class="m-custom text-center ">
                <div id="carouselExampleInterval" class="carousel slide custom-carousel mx-auto"
                    data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <img src="../images/photos/ideas.jpg" class="d-block w-100 img-fluid" alt="...">
                        </div>
                        <div class="carousel-item" data-bs-interval="2000">
                            <img src="../images/photos/ideas.jpg" class="d-block w-100 img-fluid" alt="...">
                        </div>
                        <div class="carousel-item">
                            <img src="../images/photos/ideas.jpg" class="d-block w-100 img-fluid" alt="...">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval"
                        data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="agend-container">
            <p class="parrafo-agenda">Agenda tu hora y vive la experiencia de tatuarte lo que quieres...</p>
            <a class="box2-btn-agendar" href="./cotiza.html">Agenda</a>
        </div>
    </main>
    <footer class="footer" id="footer">
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>

    <script src="../libs/jQuery/jquery-3.7.1.min.js"></script>
    <script src="../scripts/header.js"></script>
    <script src="../scripts/footer.js"></script>

</body>

</html>