<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sirios Tattoo - Promociones</title>
  <link rel="shortcut icon" href="../images/icons/logo-footer.svg" type="image/x-icon">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
  <header class="header" id="header"> 
  </header>
  <main class="main main-promociones">
     <section class="box1-promociones">
        <div class="box1-texto-promociones">
            <h2>Descuentos y promociones todos los meses!</h2>
            <p>Sé que amas los tatuajes tanto como yo amo hacerlos, por eso todos los meses te traigo descuentos y promociones y ¿Por qué no? concursos donde puedes ganarte un tatuaje completamente gratis! <br><br>Podrás ahorrarte un dinerito y a la vez, darte ese gusto de tatuarte. Solo debes estar pendiente en mis redes sociales.<br><br>Te espero!</p>
        </div>
        <div class="box1-imagen-promociones">
            <img src="../images/photos/collins-lesulie-PWK6CeCJtJw-unsplash.jpg" alt="Sin Descripción">
        </div>
        <div class="box1-ideas-promociones">
            <h2>¿No sabes qué tatuarte? Te doy algunas ideas</h2>
            <p>Está pendiente de mis redes sociales, muy pronto te diré cómo participar...</p>
         </div>
    </section>
    <section class="box2-promociones-agenda">
        <div class="promocion">
          <img src="../images/photos/maxim-hopman-52Kf36w124Y-unsplash (1).jpg" alt="Sin Descripcion">
          <h2>Flash Day</h2>
          <p>Lorem ipsum dolor sit amet consectetur. Nisl libero non vitae posuere.</p>
        </div>
        <div class="promocion">
          <img src="../images/photos/maxim-hopman-52Kf36w124Y-unsplash (1).jpg" alt="Sin Descripcion">
          <h2>2x1</h2>
          <p>Lorem ipsum dolor sit amet consectetur. Nisl libero non vitae posuere.</p>
        </div>
        <div class="promocion">
          <img src="../images/photos/maxim-hopman-52Kf36w124Y-unsplash (1).jpg" alt="Sin Descripcion">
          <h2>¿Cumples años? 
            Yo te regalo un tatuaje</h2>
          <p>Lorem ipsum dolor sit amet consectetur. Nisl libero non vitae posuere.</p>
        </div>
        <div class="box2-agendar">
            <a class="box2-btn-agendar" href="./cotiza.html">Agenda</a>
        </div>
    </section>
  </main>
  <footer class="footer" id="footer">
  </footer>

  <script src="../libs/jQuery/jquery-3.7.1.min.js"></script>
  <script src="../scripts/header.js"></script>
  <script src="../scripts/footer.js"></script>
</body>
</html>