@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,100;0,200;0,400;0,700;1,100;1,200;1,400;1,700&family=Merienda:wght@300;400;700;800&display=swap');


*, ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
  color: #000000;
}

li{
  list-style: none;
}

html {
  height: 100%;
  
}

body{
  min-height: 100%;
  display: grid;
  grid-template: 
  'header' 120px
  'main' auto
  'footer' 7.5rem;
}


/* -----------------HEADER----------------- */
header {
  background-color: #0D0C0C;
  grid-area: header;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  position: fixed;
  width: 100%;
  height: 120px;
  z-index: 1000;
}

.logo a img{
  height: 80px;
}

.nav-links{
  margin: 0;
}

.nav-links li{
  list-style: none;
  display: inline-block;
  margin-left: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #ECB935;
  font-family: 'Merienda';
  font-size: 20px;
}

.nav-links a:hover{
  color: #ecb835b8;
}

/* Estilos para el menú hamburguesa */

.menu-toggle{
  display: none;
}

.menu-btn{
  display: none;
}

.menu-icon {
  width: 25px;
  height: 3px;
  background-color: #ECB935;
  margin: 3px 0;
  transition: 0.4s;
}

/* -----------------MAIN - INDEX----------------- */
main{
  grid-area: main;
  background-color: rgb(25, 25, 25);
  width: 100%;
}

.principal-container{
  background-image: url('../images/photos/fondo-index.jpeg');
  background-size: cover;
  background-position: center;
  border: 1px solid rgba(255, 255, 255, 0.034);
  box-shadow: 25px 13px 32px -11px rgba(0,0,0,0.75);
  height: 448px; 
  margin: 50px 100px;
}

.texto-principal-container{
  width: 80%;
  margin: auto;
  padding: 40px 0;
}

.titulo-img-principal{
  font-family: 'Merienda';
  color: #ECB935;
  text-align: center;
  font-size: 40px;
}

.parrafo-img-main{
  font-family: 'Livvic';
  color: rgb(237, 253, 252);
  text-align: justify;
  font-size: 20px;
  font-size: bold;
} 

.carousel-container{
  margin: 0 auto;
  padding: 0 50px;
  width: 60%;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
  background-color: #000000;
}

.agend-container{
  margin: 50px ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parrafo-agenda{
  font-family: Merienda;
  margin-right: 50px;
  font-size: 20px;
  color: #D9D9D9;
}

.btn-agendar{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 20px;
  background-color: #ECB935;
}

/* -----------------MAIN - CONOCEME----------------- */

.main{
  padding: 50px 100px;
}

.box1-conoceme{
  display: flex;
  margin-bottom: 50px;
  color: #D9D9D9;
  height: auto;
  gap: 25px;
}

.box1-texto-conoceme{
  flex: 1;
}

.box1-texto-conoceme h2{
  font-family: 'Merienda';
  font-weight: bold;
  color: #ECB935;
  font-size: 40px;
}

.box1-texto-conoceme p{
  margin-top: 25px;
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 20px;
  text-align: justify;
}

.box1-imagen-conoceme{
  flex: 1;
  display: flex;
  justify-content: center;
}

.box1-imagen-conoceme img{
  width: 100%;
}

.box1-ideas-conoceme{
  flex: 1;
  text-align: center;
}

.box1-ideas-conoceme h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin-bottom: 40px;
}

.box1-idea-imagenes{
  display: flex;
  flex-wrap: wrap; 
  justify-content: space-around; 
}

.box1-idea-imagenes img{
  max-width: 32%;
  min-width: 115px;
  margin-bottom: 10px;
  transition: transform 0.5s; /* Transición para el efecto de zoom */
  border: 1px solid rgba(0, 0, 0, 0.466)
}

.box1-idea-imagenes img:hover{
  transform: scale(1.5); /* Aumenta el tamaño al doble */
}

.box2-trabajos-agenda{
  display: flex;
  flex-direction: column;
}

.box2-trabajos-agenda h2{
  color: #ECB935;
  font-family: 'Merienda';
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}

.box2-trabajos-imagenes{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.box2-trabajos-imagenes img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100);
}

.box2-trabajos-imagenes img:hover {
  filter: grayscale(0);
  transition: filter 0.5s;
}

.box2-trabajos-agenda .box2-agendar{
  align-self: end;
  margin-top: 60px;
}

.box2-btn-agendar{
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
  padding: 18px 24px;
  border-radius: 20px;
  background-color: #ECB935;
}



/* -----------------MAIN - PROMOCIONES ----------------- */

.box1-promociones{
  display: flex;
  margin-bottom: 50px;
  color: #D9D9D9;
  gap: 20px;
}

.box1-texto-promociones{
  flex: 1;
}

.box1-texto-promociones h2{
  font-family: 'Merienda';
  font-weight: bold;
  color: #ECB935;
  font-size: 40px;
}

.box1-texto-promociones p, .box1-ideas-promociones p{
  margin-top: 25px;
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 20px;
  text-align: justify;
}

.box1-imagen-promociones{
  flex: 1;
  display: flex;
  justify-content: center;
}

.box1-imagen-promociones img{
  width: 100%;
  height: auto;
  filter: grayscale(100);
  transition: 1s;
}

.box1-imagen-promociones img:hover{
  filter: none;
}

.box1-ideas-promociones{
  flex: 1;
}

.box2-promociones-agenda{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.promociones-h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin-bottom: 40px;
  text-align: center;
}

.promocion{
  flex: 1;
  margin: 0 30px 50px;
}

.promocion img{
  width: 100%;
}

.promocion h2{
  font-family: 'Merienda';
  font-size: 24px;
  color: #ECB935;
  margin: 19px 0 16px 0;
}

.promocion p{
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 25px;
  text-align: justify;
}

.box2-agendar{
  align-self: center;
  display: flex;
}

.box2-agendar{
  margin: 0 0 40px 0;
  transition: .45s;
}

.box2-agendar:hover{
  transform: scale(1.1);
}

/* -----------------MAIN COTIZA--------------------- */

.box1-descrip-form, .box2-informacion{
  color: #D9D9D9;
}

.main-cotiza{
  display: flex;
  gap: 40px;
}

.box1-descrip-form h2{
  color: #ECB935;
  font-family: 'Merienda';
  font-size: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.box1-descrip-form{
  flex: 1;
}

.box1-descrip-form p{
  font-family: 'Livvic';
  font-size: 20px;
  text-align: justify;
}

.box1-descrip-form *{
  font-family: 'Livvic';
  font-size: 16px;
}

form div{
  padding: 2px;
}

.etiqueta-form{
  margin: 25px 0;
  font-family: 'Merienda'
}

.primeros-items{
  width: 260px;
  display: flex;
  justify-content: space-between;
}

.segundos-items{
  width: 380px;
  display: flex;
  justify-content: space-between;
}

.textarea-cotiza{
  display: grid;
}

.textarea-cotiza textarea{
  width: 380px;
  resize: none;
}

.item-form-radiob > :first-child{
  margin-right: 10px;
}

.campo-requerido{
  font-weight: 400;
  margin: 30px 0;
}

.button-cotiza input{
  border-radius: 20px;
  padding: 8px 16px;
  background-color: #ECB935;
  font-family: 'Livvic', sans-serif;
  font-weight: bold;
}

.box2-informacion{
  flex: 1;
  align-self: center;
  font-family: 'Livvic';
}

.box2-informacion h3{
  font-family: 'Merienda';
  color: #ecb935;
  font-size: 24px;
  text-align: center;
  margin-bottom: 25px;
}

.box2-informacion p{
  font-size: 18px;
  text-align: justify;
}


/* -----------------MAIN CONTACTO--------------------- */

.box1-descrip-form, .box2-informacion{
  color: #D9D9D9;
}

.main-contacto{
  display: flex;
  gap: 40px;
}

.main-contacto > :first-child{
  flex: 1;
}

.main-contacto > :nth-child(2){
  flex: 1;
  height: 100%;
  color: #ECB935;
  font-family: 'Merienda';
  font-size: 24px;
  font-weight: 700;
}

.main-contacto > :nth-child(2) > h3{
  color: #ECB935;
  font-family: 'Merienda';
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.ubicacion{
  width: 100%;
  height: calc(100% - 120px);
}

.ubicacion > iframe{
  width: 100%;
  height: 100%;
}
/* -----------------MAIN CURSOS---------------- */

.titulocurso{
  color: #e9be50e4;
  font-size: 40px;
  font-family: 'Merienda', cursive;
  font-size: bold;
  text-align: center;
}

.introduccion {
  margin: 60px 0;
  font-family: 'Livvic';
  color: #D9D9D9;
  font-size: 20px;
  text-align: justify;
}

.cursos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
}

.curso {
  position: relative;
}

.imgcursos {
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 1.5rem;
  filter: grayscale(100%);
}

.textoCursos {
  background-color: rgba(240, 240, 240, 0.363);
  border-radius: 1rem;
  font-size: 2rem;
  font-family: 'Merienda', cursive;
  font-weight:900;
  z-index: 1;
  position: absolute;
  top: 0.5 rem;
  padding: 1rem;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.info{
  color: rgb(0, 0, 0);
  background-color: rgba(240, 240, 240, 0.712);
  border-radius: 1rem;
  position: absolute;
  font-family: Livvic;
  font-size: 90%;
  z-index: 1;
  padding: 1rem;
  bottom: 25%;
  display: none;
}

.info > a{
  text-decoration: none;
  font-weight: bold;
  color: #9f7f2e;
  display: block;
  text-align: right;
  transition: 1s;
}

.info a:hover{
  transform: scale(1.05);
}

.curso:hover .imgcursos {
  filter: grayscale(0%);
  transition: filter 0.5s;
}

.curso:hover .textoCursos {
  opacity: 1;
}

.botoncurso{
  background-color: #1a0079; 
  color: #000000; 
  padding: 10px 20px; 
  margin-top: 10px;
  border: none; 
  border-radius: 0.5rem; 
  cursor: pointer; 
  font-size: 1rem; 
  font-weight: bold; 
  text-transform: uppercase; 
  transition: 0.5s;
  align-items: end;
  opacity: 0;
}
.curso:hover .botoncurso {
  background-color: #ffc400;
  opacity: 1;
}

.botoncurso:hover{
  transform: scale(1.1);
}
/* -----------------FOOTER----------------- */

footer{
  grid-area: footer;
  background-color: #0D0C0C;
  display: flex;
  padding: 0 6.25rem;
  align-items: center;
}

.logo-footer{
  flex: 1;
}

.logo-foot{
  height: 80px;
}

.logo-mobile{
  display: none;
  height: 80px;
}

.cont-footer{
  flex: 3;
  color: #D9D9D966;
  font-family: 'Livvic', sans-serif;
}

.lista-footer{
  display: flex;
  gap: 1.25rem;
  justify-content: center;
  margin-bottom: 1.6rem;
}

.lista-footer a:hover {
  font-size: 1.1rem;
  transition: ease 0.2s;
  color: #ecb83596;
}

.link-footer{
  text-decoration: none;
  color: #D9D9D966; 
}

.parrafo-footer{
  text-align: center;
}

.link-footer{
  font-size: 1.15rem;
}

.icons-rrss{
  flex: 1;
}

.list-icons{
  display: flex;
  justify-content: end;
  gap: 1rem;
}

.fa-brands{
  color: #ECB935;
  padding: 0.5rem;
  border: 2px solid;
  border-radius: 3.15rem;
  font-size: 1.55rem;
  transition: 0.35s;
}

.fa-brands:hover{
  transform: scale(1.05);
}

/* -------------------------------RESPONSIVE------------------------------- */

@media(max-width: 1024px){   /*TABLET*/
  /* -----------------HEADER----------------- */
header{
  padding: 0 50px;
}

.menu-btn {
    display: block;
}

.main{
  padding: 80px;
}

nav{
    position: absolute;
    top: 120px;
    right: 0;
    background-color: #0d0c0cf3;
    opacity: 0; /* Opacidad inicial en 0 */
    visibility: hidden; /* Oculta el elemento */
    transition:  0.15s;
  }

  .nav-links{
      display: flex;
      flex-direction: column;
      height: auto;
  }

  .nav-links li{
      margin: 0;
      padding: 20px 60px;
      text-align: center;
  }

  .enlace-opcion:hover{
    background-color: #d9d9d914;
  }

  .menu-toggle:checked + .menu-btn .menu-icon:nth-child(1) {
      transform: rotate(-45deg) translate(-5px, 4px);
  }

  .menu-toggle:checked + .menu-btn .menu-icon:nth-child(2) {
      opacity: 0;
  }

  .menu-toggle:checked + .menu-btn .menu-icon:nth-child(3) {
      transform: rotate(45deg) translate(-5px, -3px);
  }

  .menu-toggle:checked + .menu-btn + nav{
      opacity: 1; 
      visibility: visible;
  }
  /* -----------------MAIN----------------- */

  /*--------------------CONOCEME--------------------*/

  .box1-conoceme{
    flex-direction: column;
  }

  .box1-texto-conoceme h2{
    text-align: center;
  }

  .box1-texto-conoceme p{
    text-align: justify;
  }
  
  .box1-imagen-conoceme img{
    padding: 20px;
    width: 60%;
  }

  /*--------------------PROMOCIONES--------------------*/

  .box1-promociones{
    flex-direction: column;
    height: auto;
  }

  .box1-texto-promociones h2{
    text-align: center;
  }

  .box1-texto-promociones p, .box1-ideas-promociones p {
    text-align: justify;
  }

  .box1-imagen-promociones img{
    width: 60%;
    padding: 20px;
    height: auto;
  }

  .box1-ideas-promociones h2{
    text-align: center;
  }

  .box2-promociones-agenda{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
  }

  .promocion{
    border: 1px outset rgba(255, 255, 255, 0.100);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 15px 15px 15px 5px #000000;
    transition: background .45s;
    margin-bottom: 35px;
  }

  .promocion:hover{
    background-color: #201f1f;
  }

  .promocion img{
    border-radius: 15px;
  }

  .carousel-container{
    width: 75%;
  }

  .parrafo-agenda{
    text-align: center;
  }

  /* --------------------CURSOS---------------------- */
  .textoCursos{
    font-size: 16px;
  }

  .introduccion{
    font-size: 20px;
    margin-bottom: 20px;
  }

  .cursos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .imgcursos{
    width: 20rem; 
    height: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .textoCursos{
    font-size: 16px;
    text-align: left;
  }

  .botoncurso{
    font-size: 0.8rem;
  } 

  /*------------COTIZA--------------------*/

  .main-cotiza{
    flex-direction: column;
  }

  .box1-descrip-form h2{
    text-align: center;
  }

  .box1-descrip-form p{
    text-align: justify;
  }

  .box2-informacion p{
    text-align: justify;
  }

  /*----------------CONTACTO-----------------*/

  .main-contacto{
    flex-direction: column;
  }

  .ubicacion{
    height: 450px;
  }


  /* -----------------FOOTER----------------- */
  footer{
    padding: 0 50px;
  }

  .logo-foot{
    display: none;
  }
  
  .logo-mobile{
    display: block;
    margin: auto;
  }

  .link-footer, .parrafo-footer{
    font-size: 16px;
  }

  .list-icons{
    flex-wrap: wrap-reverse;
    justify-content: center;
    gap: 10px;
  }

}


@media(max-width: 768px){ /*MOBILE*/
.body{
    min-height: 100%;
    display: grid;
    grid-template: 
    'header' 11.25rem
    'main' auto
    'footer' 7.5rem;
  }

  /*-----------------MAIN INDEX-----------------*/

  .principal-container{
    margin: 0 0 50px;
    height: 400px;
  }

  .titulo-img-principal{
    font-size: 30px;
    margin-bottom: 30px;
  }

  .parrafo-img-main{
    font-size: 18px;
  }

  .carousel-container {
    padding: 0;
    width: 90%;
  }

  .agend-container {
    margin: 30px 0 0 0;
    flex-direction: column;
  }

  .parrafo-agenda{
    margin: 25px;
  }

  /* -----------------MAIN CONOCEME----------------- */

  .main{
    padding: 50px;
  }

  .box1-texto-conoceme h2{
    font-size: 30px;
  }

  .box1-texto-conoceme p{
    font-size: 18px;
  }

  .box1-imagen-conoceme img {
    width: 90%;
  }

  .box1-ideas-conoceme h2, .box2-trabajos-agenda h2{
    font-size: 20px;
  }

  .box2-trabajos-imagenes {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .box2-btn-agendar {
    font-size: 14px;
    padding: 14px 12px;
    border-radius: 16px;
  }


   /* -----------------CURSOS----------------- */

   .titulocurso{
    font-size: 30px;
   }
   .introduccion{
    padding: 2%;
    font-size: 18px;
  }
  .cursos{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .imgcursos{
    max-width: 250px; 
    height: 320px;
    justify-content: center;
    align-items: center;
  }

  .textoCursos{
    font-size: 1rem;
    text-align: left;
  }

  .botoncurso{
    font-size: 0.8rem;
  }

  /*----------------PROMOCIONES--------------*/

  .box1-texto-promociones h2{
    font-size: 30px;
  }

  .box1-imagen-promociones img{
    width: 90%;
  }

  .box1-texto-promociones p, .box1-ideas-promociones p{
    font-size: 18px;
  }

  .box2-promociones-agenda{
    width: 100%;
  }

  .promocion h2{
    font-size: 20px;
  }

  .promocion p{
    font-size: 18px;
  }

  .box2-agendar{
    margin-bottom: 10px;
  }

  /*---------------COTIZA-----------------*/
  .box1-descrip-form h2{
    font-size: 30px;
  }

  .box1-descrip-form p{
    font-size: 18px;
  }

  .box2-informacion p{
    font-size: 18px;
  }

  .textarea-cotiza textarea{
    width: 260px;
  }

  .segundos-items{
    width: 260px;
  }

  .segundos-items{
    display: grid;
  }

  .segundos-items input{
    width: 260px;
  }

  /*---------------CONTACTO-----------------*/
  .ubicacion{
    height: 350px;
  }

  /* -----------------FOOTER----------------- */

  footer{
    padding: 0 20px;
  }

  .logo-mobile{
    height: 60px;
  }

  .parrafo-footer{
    font-size: 12px;
  }

  .cont-footer{
    flex: 2;
  }

  .lista-footer{
    display: none;
  }

  .fa-brands{
    font-size: 16px;
  }

  .list-icons{
    gap: 5px
  }

}
